<footer>
    <div class="footer">
        <div>
            <h4> Cocktails </h4>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo placeat sed magnam a dolorum, ipsam pariatur doloribus accusamus
                repudiandae animi cupiditate cumque vitae, facilis dolor laudantium, quo omnis quidem asperiores.
            </p>
        </div>
        <div id="about">
            <h4> About Us</h4>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo placeat sed magnam a dolorum,</p>
            <p> ipsam pariatur doloribus accusamus quo omnis quidem asperiores</p>
        </div>
        <div>
            <h4> Quick Links </h4>
            <ul>
                <li>
                    <button [routerLink]="['']"> Inicio </button>
                </li>
                <li>
                    <button [routerLink]="['/faq']"> FAQ </button>
                </li>
                <li>
                    <a href="#about"> Acerca De </a>
                </li>
                <li>
                    <a href="mailto:lisseth06juarez@gmail.com"> Contact </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="credits">
        <p> Developed by <a href="https://www.linkedin.com/in/ana-juarez01" target="_blank"> @Layeska </a> </p>
    </div>
</footer>
