.container {
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 10px;

    h2 {
        font-weight: 800;
        font-size: 2rem;
        margin-top: 3rem;
    }

    @media screen and (min-width:1000px) {
        padding: 0;
        width: 1100px;
        margin: auto;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        ul {
            li {
                list-style: none;
            }
        }
    }
}