<aside class="container">
    <h2>Detalles de la Bebida</h2>
    <mat-card class="example-card"  *ngIf="card$ | async as card">
        <mat-card-header>
        <mat-card-title-group>
            <mat-card-title> {{card.strDrink}}</mat-card-title>
            <mat-card-subtitle>{{ card.strCategory}}</mat-card-subtitle>
            <img mat-card-sm-image [src]="card.strDrinkThumb" >
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            Instructions:
        {{card.strInstructions}}
        </mat-card-content>
    </mat-card>
</aside>
