<header>
    <div class="icon">
        <img src="https://cdn.icon-icons.com/icons2/1814/PNG/512/24cocktail_115460.png" alt="">
        <h1>Cocktails</h1>
    </div>

    <div *ngIf="show === 1">
        <nav>
            <button mat-button [routerLink]="['']" routerLinkActive="active">Inicio</button>

            <button mat-button [routerLink]="['/faq']" routerLinkActive="active">FAQ</button>
            <button mat-button>
              <a href="#about" class="about">Acerca De</a>
            </button>

            <button mat-button>Contact</button>
        </nav>
    </div>

    <div *ngIf="show === 0">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['']">
              <mat-icon>home</mat-icon>
              <span>Inicio</span>
            </button>
            <button mat-menu-item [routerLink]="['/faq']">
              <mat-icon>info</mat-icon>
              <span>FAQ</span>
            </button>
            <button mat-menu-item [routerLink]="['#about']">
              <mat-icon>rss_feed</mat-icon>
              <a href="#about" class="about">Acerca De</a>
            </button>
            <button mat-menu-item>
              <mat-icon>mail</mat-icon>
              <a href="mailto:lisa13suarez@gmail.com" class="link">Contact</a>
            </button>
          </mat-menu>
    </div>
</header>
