
<div class="faq">
  <mat-accordion >
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In placeat, dolorem numquam alias quas nulla. Dolorem sequi reprehenderit quidem fugit quia. Quos repellendus quae tempore atque consequatur voluptatem suscipit dicta.</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In placeat, dolorem numquam alias quas nulla. Dolorem sequi reprehenderit quidem fugit quia. Quos repellendus quae tempore atque consequatur voluptatem suscipit dicta.</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In placeat, dolorem numquam alias quas nulla. Dolorem sequi reprehenderit quidem fugit quia. Quos repellendus quae tempore atque consequatur voluptatem suscipit dicta.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>